* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    /* This height is for me to position the footer the way I need it before content is added. This will be removed as soon as content is added AC */
    height: 1000px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/* SVG Height and width (lady with pins will need to be dynamicly removed once start button is clicked */
.question-image {
    height: 300px;
    width: 300px;
    position:relative;
}
/* global background svg - do not delete in js */
.back-ground-svg {
    position: absolute;
    width: 100%;
    z-index: -1;
}